<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2018 Ivo Woltring <WebMaster@ivonet.nl>
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>

    <appender name="TheAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value=".logs/speeltuin.log"/>
        <param name="MaxFileSize" value="25MB"/>
        <param name="MaxBackupIndex" value="15"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd-MM-yyyy HH:mm:ss,SSS}] %x %-10.10t %-5p %c- %m%n"/>
        </layout>
    </appender>


    <logger name="org.springframework">
        <level value="info"/>
    </logger>

    <logger name="org.freemarker">
        <level value="info"/>
    </logger>

    <logger name="org.apache">
        <level value="info"/>
    </logger>

    <logger name="java.sql">
        <level value="info"/>
    </logger>

    <logger name="nl.ivonet.sample.webapp">
        <level value="trace"/>
        <appender-ref ref="TheAppender"/>
        <!--<appender-ref ref="Console"/>-->
    </logger>

    <root>
        <level value="info"/>
        <appender-ref ref="Console"/>
    </root>

</log4j:configuration>